<div class="simple_pie_chart" width='300px' height='100px'>
  <table>
    <tr>
      <th>Collected</th>
      <td><%= Currency.collected.count %></td>
    </tr>
    <tr>
      <th>Not Collected</th>
      <td><%= Currency.not_collected.count %></td>
    </tr>
  </table>
</div>