<section>
  <h1>Currencies</h1>

  <div id="collected_currencies_chart">
    <%= render 'pie_chart' %>
  </div>

  <%= form_tag collect_currencies_path, remote: true do |f| %>
    <div class="table_actions">
      <input type="submit" class="disabled" value="Collect"/>
    </div>
    <div id="currencies_list">
      <%= render 'list' %>
    </div>
  <% end %>
</section>