<section>
  <h1>Countries</h1>

  <div id="visited_countries_chart">
    <%= render 'pie_chart' %>
  </div>

  <%= form_tag visit_countries_path, remote: true do %>
    <input class="search_query" type="text" placeholder="Enter name to filter countries..." name="q"
           data-url="<%= search_countries_path %>"/>
    <div class="table_actions">
      <input type="submit" class="disabled" value="Visit"/>
    </div>
    <div id="countries_list">
      <%= render 'list' %>
    </div>
  <% end %>
</section>