<section>
  <h1>Countries</h1>

  <div id="visited_countries_chart">
    <%= render 'pie_chart' %>
  </div>

  <!--<input type="text" placeholder="Enter name to filter countries..."/>-->

  <%= form_tag visit_countries_path, remote: true do |f| %>
    <div class="table_actions">
      <input type="submit" class="disabled" value="Visit"/>
    </div>
    <div id="countries_list">
      <%= render 'list' %>
    </div>
  <% end %>
</section>